@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 80px 8%;
}

.btn {
  padding: 12px 24px;
  background: black;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
