@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

.footer {
  padding: 40px 8% 30px;
  font-family: "Inter", sans-serif;
}

.footer-line {
  width: 100%;
  height: 3px;
  background: #ddd;
  margin-bottom: 25px;
  color: black;
}

/* CONTENT */

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SOCIAL LINKS */

.footer-socials {
  display: flex;
  gap: 25px;
}

.footer-socials a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}

.footer-socials a:hover {
  opacity: 0.6;
}

/* EMAIL */

.footer-email {
  font-size: 13px;
  color: #555;
}
