/* SECTION */

.work-section {
  width: 100%;
  padding: 80px 8%;
  background: #fff;
  font-family: Arial, sans-serif;
}

/* HEADER */

.work-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.work-header h1 {
  font-size: 46px;
  font-weight: 700;
}

.header-line {
  flex: 1;
  height: 2px;
  background: #000;
}

/* MAIN LAYOUT */

.work-container {
  display: flex;
  gap: 80px;
  align-items: center;
}

/* LEFT */

.work-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

/* BIG IMAGE */

.big-image {
  width: 300px;
  height: 450px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom-right-radius: 100px; */
}

.big-image img {
  width: 100%;
  height: 100%;
  background: rgb(235, 235, 235);

  /* border-bottom: 10px solid #444; */
  object-fit: contain; /* IMPORTANT */
}

/* THUMB ROW */

.thumb-row {
  display: flex;
  gap: 15px;
}

.thumb {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.3s;
  border: 1px solid transparent;
}

.thumb:hover {
  opacity: 0.7;
}

.thumb.active {
  opacity: 1;
  border: 2px solid #000;
}

/* RIGHT */

.work-right {
  max-width: 450px;
}

/* YEAR */

.work-year {
  /* font-family: "Archivo Black", sans-serif; */
  /* font-family: "Roboto Slab", serif; */
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #ddd;
  display: block;
  margin-bottom: 10px;
}

/* TITLE */

.work-right h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

/* DESC */

.work-right p {
  color: #444;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* NAV */

.nav-controls {
  display: flex;
  gap: 15px;
}
.nav-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 55px; /* Bigger icons */
  color: #000;
  transition: 0.3s;
}

/* Force Google icon size */
.nav-controls .material-symbols-outlined {
  font-size: 60px !important; /* Change to 50, 60, 70 if you want */
}

.nav-controls button:hover {
  color: #555;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .work-container {
    flex-direction: column;
  }

  .big-image {
    width: 260px;
    height: 380px;
  }

  .work-right {
    text-align: center;
  }

  .nav-controls {
    justify-content: center;
  }
}

.txt1 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  /* font-family: "Open Sans", sans-serif; */
}
.txt2 {
  font-family: "Open Sans", sans-serif;
  color: rebeccapurple;
}
